{% extends "layout.html" %}  <!-- Extending the base layout template -->
{% block content %}  <!-- Start of the content block -->
    <div class="content-section">
        <form method="POST" action="">  <!-- Form for password reset -->
            {{ form.hidden_tag()}}  <!-- Hidden CSRF token for security -->
            <fieldset class="form-group">
                
                <legend class="border-bottom mb-4">Reset Password</legend>  <!-- Form title -->
                
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}  <!-- Label for email input -->
                            {% if form.email.errors %}  <!-- Check if there are errors in the email field -->
                               {{ form.email(class="form-control form-control-lg  is-invalid") }}  <!-- Email input with error styling -->
                               <div class="invalid-feedback">
                                   {%  for error in form.email.errors %}  <!-- Loop through email errors -->
                                       <span> {{ error }} </span>  <!-- Display each error -->
                                   {% endfor %}
                               </div>
                           {% else %}
                           
                               {{ form.email(class="form-control form-control-lg") }}  <!-- Email input without error styling -->

                           {% endif %}

                    </div>

            </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info")}}  <!-- Submit button -->
                    </div>
                    <small class="text-muted ml-2">
                        <a href="#">Forgot Password</a>  <!-- Link for forgotten password -->
                    </small>
        </form>
    </div>
    
    <div class="border-top pt-3">
        <small text-muted>
            Need an account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>  <!-- Link to registration page -->
        </small>
    </div>
                
           
        
    
{% endblock content %}  <!-- End of the content block -->
